body {
	margin: 0px;
	padding: 0px;
	background: #fff;/* font-family: 'Segoe UI';*/
}
ul.resp-tabs-list, p {
	margin: 0px;
	padding: 0px;
}
.resp-tabs-list li {
	font-size: 22px;
	display: inline-block;
	padding: 13px 15px;
	margin: 0;
	list-style: none;
	cursor: pointer;
	font-weight: bold;
}
.resp-tabs-container {
	padding: 0px;
	clear: left;
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
	padding: 15px;
}
.resp-tab-active {
	border-bottom: none;
	margin-bottom: -1px !important;
	padding: 12px 14px 14px 14px !important;
}
.resp-tab-active {
	border-bottom: none;
}
.resp-content-active, .resp-accordion-active {
	display: block;
}
/*.resp-tab-content { border: 1px solid #c1c1c1; }*/

h2.resp-accordion {
	font-size: 13px;
	border: 1px solid #c1c1c1;
	border-top: 0px solid #c1c1c1;
	margin: 0px;
	padding: 10px 15px;
}
h2.resp-tab-active {
	border-bottom: 0px solid #c1c1c1 !important;
	margin-bottom: 0px !important;
	padding: 10px 15px !important;
}
h2.resp-tab-title:last-child {
	border-bottom: 12px solid #c1c1c1 !important;
	background: blue;
}
/*-----------Vertical tabs-----------*/

.resp-vtabs ul.resp-tabs-list {
	float: none;
	width: 90%;
	border-bottom: 2px solid #ff5722;
	text-align: center;
	margin: auto;
}
.resp-vtabs .resp-tabs-list li {
	display: inline-block;
	padding: 10px 0px 12px !important;
	cursor: pointer;
	float: none;
	width: 23%;
	text-align: center;
	background: rgba(255, 87, 34, 0.15);
	height: 25px;
	border-radius: 0px;
	color: #000;
	border: none;
	margin: 0px 11px;
	font-weight: normal;
}
.resp-vtabs .resp-tabs-container {
	padding: 0px 0 5px 0;
	float: left;
	width: 98%;
	min-height: 250px;
	border-radius: 4px;
	clear: none;
	border: none;
}
.resp-vtabs .resp-tab-content {
	border: none;
}
.resp-vtabs li.resp-tab-active {
	border: none;
	width: 23%;
	margin: auto;
	text-align: center;
	background: #ff5722;
	color: #fff;
}
.resp-arrow {
	width: 0;
	height: 0;
	float: right;
	margin-top: 3px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 12px solid #c1c1c1;
}
h2.resp-tab-active span.resp-arrow {
	border: none;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 12px solid #9B9797;
}
/*-----------Accordion styles-----------*/

h2.resp-tab-active {
	background: #DBDBDB !important;
}
.resp-easy-accordion h2.resp-accordion {
	display: block;
}
.resp-easy-accordion .resp-tab-content {
	border: 1px solid #c1c1c1;
}
.resp-easy-accordion .resp-tab-content:last-child {
	border-bottom: 1px solid #c1c1c1 !important;
}
.resp-jfit {
	width: 100%;
	margin: 0px;
}
.resp-tab-content-active {
	display: block;
}
h2.resp-accordion:first-child {
	border-top: 1px solid #c1c1c1 !important;
}
/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
ul.resp-tabs-list {
	display: none;
}
h2.resp-accordion {
	display: block;
	padding: 10px;
}
.resp-vtabs .resp-tab-content {
	border: 1px solid #C1C1C1;
}
.resp-vtabs .resp-tabs-container {
	border: none;
	float: none;
	width: 96%;
	min-height: initial;
	clear: none;
	margin: 0 10px;
}
.resp-accordion-closed {
	display: none !important;
}
.resp-vtabs .resp-tab-content:last-child {
	border-bottom: 1px solid #c1c1c1 !important;
}
}
